<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Home - Submission Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
	<!-- ICON -->
	<script src="/js/feather.min.js"></script>
    
    <!-- CHARTJS -->
    <script src="/js/chart.min.js"></script>
    
    <!-- DASHBOARD CSS -->
    <link rel='stylesheet' href='/css/dashboard.css'>
    <link rel='stylesheet' href='/css/dashboard.rtl.css'>
    
    <!-- BOOTSTRAP -->
	<link rel='stylesheet' href='webjars/bootstrap/5.2.2/css/bootstrap.min.css'>
	<script src="/webjars/bootstrap/5.2.2/js/bootstrap.min.js"></script>	
	
	<!-- JQUERY -->
	<script src="/webjars/jquery/3.6.1/jquery.min.js"></script>
	
	<!-- DATATABLE -->
	<link rel='stylesheet' href='/css/datatable/jquery.dataTables.min.css'>
	<link rel='stylesheet' href='/css/datatable/select.dataTables.min.css'>
	<script src="/js/datatable/jquery.dataTables.min.js"></script>
	<script src="/js/datatable/dataTables.select.min.js"></script>
	<script>
	$(document).ready(function() {
	    $('#example').DataTable( {
	    	responsive: true,
	        columnDefs: [ {
	            orderable: false,
	            className: 'select-checkbox',
	            targets:   0
	        } ],
	        select: {
	            style:    'os',
	            selector: 'td:first-child'
	        }
	    } );
	} );
	</script>
</head>


<body>
<header class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow" style = "background-color: #b70000;">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/home"><img style="width: 85%;" src="/img/logoTxt.png" ></a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"-->
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="/logout">Logout</a>
    </div>
  </div>
</header>


<div class="container-fluid">
  <div class="row">
  
	<!-- NAV MENU -->
	<div th:remove="tag" th:utext="${menu}"></div>

 
    
	<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        
        
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>

<!--p th:text="${data}" /-->
<!-- DIV WELCOME -->
   <div class="container"><br/>
    <div class="alert alert-success">         
        <strong>Login effettuato con successo!</strong> Benvenuto <strong th:text="${logincredentials.email} + '!'"></strong>
    </div>
</div>

<!-- POPUP MODALE -->
<button type="button" class="btn btn-primary" id="" data-bs-toggle="modal" data-bs-target="#exampleModal"> Your Button Here</button>

<!-- GRAFICO -->
<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>



	</main>
  </div>
</div>


<!-- POPUP MODALE NASCOSTO-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Titolo Popup</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    POPUP MODALE
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                <button type="button" class="btn btn-primary">Salva</button>
            </div>
        </div>
    </div>
</div>


<!-- FOOTER -->
<footer class="footer mt-auto py-3 bg-light">
  <div class="container" style="text-align:center">
    <span class="text-muted">Ft</span>
  </div>
</footer>

<!-- ICON -->
<script>
  feather.replace()
</script>
</body>


   
<!-- GRAFICO -->
<script th:inline="javascript">

var data = /*[[${data}]]*/'';

const ctx = document.getElementById('myChart');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: data,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
	
</html>