<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
	<!-- CHARTJS -->
    <script src="/js/chart.min.js"></script>
    
    <!-- BOOTSTRAP -->
	<link rel='stylesheet' href='webjars/bootstrap/5.2.2/css/bootstrap.min.css'>
	<script src="/webjars/bootstrap/5.2.2/js/bootstrap.min.js"></script>
	
	<!-- JQUERY -->
	<script src="/webjars/jquery/3.6.1/jquery.min.js"></script>
	
	<!-- CUSTOM CSS -->
	<link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/signin.css" >
</head>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
<body>

<main class="form-signin">
<form action="#" th:action="@{/home}" th:object="${logincredentials}" method="get">
    <div class="imgcontainer">
    <img src="/img/logo.png" class="avatar">
  </div>
      <h1 class="h3 mb-3 fw-normal">Login</h1>
      
     
    
    <div class="form-floating">
      <input type="email" th:field="*{email}" name="email" class="form-control" placeholder="name.surname@mail.it" required>
      <label for="email">Email</label>
    </div>
    <div class="form-floating">
      <input type="password" th:field="*{password}" name="password" class="form-control" placeholder="Password" required>
      <label for="password">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" value="Submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2022–2023</p>
  </form>
</main>
</body>

</html>